<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Paquetes Analizados</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"> 57</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Paquetes Normales</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">40</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Paquetes Malignos</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">17</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>